@font-face {
        font-family: "JupiteroidLight";
        src: url("fonts/jupiteroid-font/JupiteroidRegular.ttf") format('truetype');
}

:root {
	--navbarheight: 60px;
}

nav {
	font-family: JupiteroidLight, Tahoma, 'Trebuchet MS', Arial, sans-serif;
	font-size: 1.6em;
	transition: top 0.75s;
	position: fixed;
	width: 100%;
	height: var(--navbarheight);
	z-index: 3;
	color: #232323;
	display: flex;
	flex-direction: row-reverse;
	background-color: rgba(220, 220, 220, 0.6);
	align-items: center;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	
	--mask: linear-gradient(180deg, rgba(0,0,0,1) 75%, rgba(0,0,0,0) 100%);

	-webkit-mask-image: var(--mask);
	mask-image: var(--mask);
	max-height: 100%;
}

nav .logocontainer { 
	float: left;
	height: var(--navbarheight);
}
nav .logo {
	height: calc(var(--navbarheight) + 5px);
	margin: -10px;
	padding: 5px 10px 10px 10px;
	transition: background-color 0.75s;
}

nav .buttons { 
	display: flex;
	height: 100%;
	width: 100%;
}
nav .buttons .buttoncontainer {
	box-sizing: border-box;
	padding-bottom: calc(var(--navbarheight) / 4);
}
nav .buttons a {
	border-right: 1px solid #434343;
	flex: 1 1 0px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 5px;
	text-decoration: none;
	color: inherit;
	transition: background-color 0.75s, color 0.75s;
}
nav .buttons a:last-child { border-right: 0px solid black; }

nav .buttons a:hover:not(.filler), nav .logo:hover {
	text-decoration: underline;
	font-weight: bold;
	background-color: rgba(50, 50, 50, 0.6);
	color: white;
	transition: background-color 0.75s, color 0.75s;
}
nav #selected {
	background-color: rgba(50, 50, 50, 0.6);
	color: white !important;
}

nav .buttons .home {
	display: none;
}
nav #hamburger {
	position: fixed;	
	top: -500px;
}
nav .hamburger {
	aspect-ratio: 1 / 1;
	height: var(--navbarheight);
	background-image: url("img/hamburger.svg");
	background-size: cover;
	background-origin: content-box;
	background-repeat: no-repeat;
	display: none;
	box-sizing: border-box; 
	padding: 7px;
}

@media(max-width: 680px) {
	nav {
		height: auto;
		-webkit-mask-image: none;
		mask-image: none;
	}
	nav .logo, nav #selected {
		padding-bottom: 0px;
		height: calc(var(--navbarheight) + 10px) !important;
	}
	nav .buttons {
		flex-flow: column;
		max-height: 100dvh;
	}
	nav .hamburger { 
		display: block;
		cursor: pointer;
		transition: transform 0.3s, filter 0.3s;
	}
	nav .hamburger:hover {
		transition: transform 0.3s, filter 0.3s;
		transform: scale(85%);
		filter: drop-shadow(0px 0px 10px #000000);;
	}
	nav .buttons .buttoncontainer {
		display: none;
		border: none;
		border-bottom: 2px solid black;
		width: 100%;
		padding-top: 5dvh;
		padding-bottom: 5dvh;
		font-size: 1em;
	}
	nav .buttons #selected {
		display: block;
		text-decoration: none;
		color: black !important;
		background: none;
		border: none;
		font-size: 1.5em;
		padding: 0px;
		pointer-events: none;
	}
	nav #hamburger:checked ~ .buttons #selected {
		pointer-events: auto;
		border: none;
                border-bottom: 2px solid black;
                width: 100%;
                padding-top: 5dvh;
                padding-bottom: 5dvh;
                font-size: 1em;
		color: white !important;
		background-color: rgba(0, 0, 0, 0.65);
	}
	nav #hamburger:checked ~ .buttons {
		overflow-y: auto;
		overflow-x: hidden;
	}
	nav #hamburger:checked ~ .buttons #selected {
		padding-bottom: 5dvh;
		height: 100% !important;
	}
	nav #hamburger:checked ~ .buttons > .buttoncontainer {
		display: block;
	}
	nav #hamburger:checked ~ .logocontainer {
		display: none;
	}
	nav #hamburger:checked ~ .buttons > .home {
		display: none
	}
	nav #hamburger:checked + .hamburger {
		position: fixed;
		top: 0;
		right: 0;
		width: var(--navbarheight); height: var(--navbarheight);
		background-image: url("img/x.svg");
		background-size: cover;
		background-repeat: no-repeat;
	}
	nav .buttons .filler {
		display: none;
	}
}
